<?xml version="1.0"?>
<launch>
  <arg name="global_frame" default="map"/>
  <arg name="planner" default="robotnik_pp_planner"/>
  <!-- start purepursuit node -->
  <node pkg="robotnik_pp_planner" type="path_marker.py" name="path_marker" output="screen">
	<param name="frame_id" value="$(arg global_frame)" type="string"/>
        <param name="planner" value="$(arg planner)" type="string"/>
  </node>

</launch>

