<!-- 
  Simulate a carlike robot with the teb_local_planner in stage:
  - stage
  - map_server
  - move_base
  - static map
  - amcl
  - rviz view
 -->
 
<launch>

        <!--  ************** Global Parameters ***************  -->
    <!-- <param name="/use_sim_time" value="true"/> -->

        <!--  ************** Gazebo Simulator ***************  -->
	<include file="$(find jackal_gazebo)/launch/parking_world.launch" />


          <!--- Run Move Base -->
	<include file="$(find jackal_navigation)/launch/include/move_base.launch" />

	<!--  ****** Maps *****  -->

	<!-- This is the map I am testing -->
	<node name="map_server" pkg="map_server" type="map_server" args="$(find lattice_global_planner)include/lattice_global_planner/map.yaml" output="screen">

            <param name="frame_id" value="map"/>

	</node>

	<node pkg="amcl" type="amcl" name="amcl" output="screen">
		<rosparam file="$(find teb_local_planner_tutorials)/cfg/amcl_params.yaml" command="load" />

	        <param name="initial_pose_x"            value="20"/>
		<param name="initial_pose_y"            value="20"/>
		<param name="initial_pose_a"            value="0"/>
	</node>


	  <!--  **************** Visualisation ****************  -->
	  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find teb_local_planner_tutorials)/cfg/rviz_navigation.rviz"/>

</launch>
